* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* PORTADA */

.portada {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-image: url(../public/assets/07.jpg);
}

@media (min-width: 250px) and (max-width: 850px) {
  .portada {
    background-position: left;
  }
}

/* MENU */

.contenedor-menu {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.952) !important;
  opacity: 80%;
}

.logo-menu img {
  object-fit: cover;
  width: 150px;
  height: 100px;
}

.botones-menu {
  text-shadow: 1px 1px 1px gold;
  font-size: 20px;
  text-decoration: none;
}

.hamburguesa {
  background-color: rgba(255, 217, 0, 0.418);
  box-shadow: 2px 2px 4px gold;
}

.carrito img {
  object-fit: cover;
  width: 35px;
}

.usuario img {
  object-fit: cover;
  border-radius: 20%;
  box-shadow: 2px 2px 4px gold;
  width: 30px;
  opacity: 85%;
}

/* MAIN HOME */

main {
  height: 100%;
  width: 100%;
  background-color: white;
}

.div-titulo {
  padding: 3% 0 1% 0;
  border-bottom: double rgba(0, 0, 0, 0.952);
  text-transform: uppercase;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.div-titulo p {
  color: rgba(0, 0, 0, 0.952);
  font-size: 20px;
  padding: 1%;
}

.div-titulo .titulo {
  color: rgba(0, 0, 0, 0.952);
  text-shadow: 1px 1px 2px orangered;
  font-size: 45px;
}

.contenedor-carouselZapatos {
  padding-bottom: 10%;
}

/* PROMO-HOME */

.contenedor-promoHome {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../public/assets/01.jpg);
  background-position: center;
  opacity: 95%;
  color: whitesmoke;
}

.descripcion-promoHome {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5% 0 0 5%;
}

.descripcion-promoHome h1 {
  padding-bottom: 2%;
  text-shadow: 1px 1px 2px orangered;
  text-transform: uppercase;
  font-size: 25px;
}

.precio-promoHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.precio-promoHome h2 {
  margin-bottom: 30%;
  text-align: center;
  padding: 15%;
  background-color: rgba(0, 0, 0, 0.555);
  box-shadow: 1px 2px 3px whitesmoke;
}

/* FOOTER */

.container-menu-footer {
  background-color: rgba(0, 0, 0, 0.952) !important;
  padding: 3%;
  height: 100%;
  width: 100%;
}

.logo-footer img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.contenedor-redes {
  background-color: rgba(0, 0, 0, 0.952);
}

.contenedor-redes .iconos-redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5% 0 5%;
  border-top: solid 0.5px rgba(245, 245, 245, 0.562);
}

.contenedor-redes .iconoItem-redes img {
  opacity: 70%;
  width: 25px;
  height: 25px;
}

/* INPUT */

.input-contenedor-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.959);
  text-transform: uppercase;
  font-size: 25px;
  color: whitesmoke;
}

@media (min-width: 250px) and (max-width: 850px) {
  .input-contenedor-home {
    font-size: 15px;
    flex-direction: column;
    height: 100%;
  }
}

.input-contenedor-home input {
  width: 50%;
  height: 30px;
  background: transparent;
  border: none;
  box-shadow: 1px 1px 3px whitesmoke;
  padding: 2%;
  text-align: center;
}

.input-contenedor-home button {
  border: none;
  padding: 1%;
  width: 10%;
  background: transparent;
  box-shadow: 1px 1px 3px whitesmoke;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 18px;
}

@media (min-width: 250px) and (max-width: 850px) {
  .input-contenedor-home button {
    font-size: 15px;
  }
}

/* MAIN SHOP */

.contenedor-inputcheck-shop {
  display: flex;
  justify-content: space-around;
  color: rgba(245, 245, 245, 0.822);
  font-size: 20px;
  padding: 1% 3% 2% 3%;
  background-color: rgba(0, 0, 0, 0.959);
}

@media (min-width: 250px) and (max-width: 850px) {
  .contenedor-inputcheck-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contenedor-inputcheck-shop .item-inputcheck-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-inputcheck-shop .item-inputcheck-shop label {
  text-transform: uppercase;
  padding: 15px;
}

.contenedor-inputcheck-shop .item-inputcheck-shop input {
  box-shadow: 1px 2px 2px gold;
}

.titulo-mainShop {
  padding: 1%;
  color: whitesmoke;
  text-shadow: 1px 1px 3px gold;
}

/* CONTACTS */

.menu-contacts {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/assets/05.jpg");
}

.contenedor-contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5% 0 0 50%;
  color: whitesmoke;
  text-transform: uppercase;
}

@media (min-width: 250px) and (max-width: 850px) {
  .contenedor-contacts {
    background-color: rgba(0, 0, 0, 0.76);
    margin: 0;
    padding: 5%;
  }
}

.contenedor-contacts h1 {
  padding: 0 0 5% 0;
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 3px gold;
}
.contenedor-contacts h2 {
  font-size: 25px;
}
.contenedor-contacts h3 {
  font-size: 25px;
  margin-bottom: 5%;
  padding: 2%;
  border-bottom: double rgba(245, 245, 245, 0.836);
}

.contenedor-contacts h4 {
  font-size: 20px;
  margin-bottom: 3%;
}

.contenedor-contacts h5 {
  font-size: 15px;
  padding: 3% 0 3% 0;
}

.contenedor-contacts p {
  font-size: 15px;
}

.contenedor-contacts input {
  color: whitesmoke;
  font-family: monospace;
  font-size: 20px;
  width: 100%;
  height: 35px;
  margin-bottom: 2%;
  border: none;
  box-shadow: 1px 1px 2px whitesmoke;
  background-color: rgba(0, 0, 0, 0.37);
}

.formulario-contacts p {
  text-align: left;
  text-shadow: 1px 1px 1px gold;
}

.formulario-contacts .mensaje {
  height: 45px;
}

.button-sendform {
  background-color: transparent !important;
  text-shadow: 1px 1px gold !important;
  text-transform: uppercase !important;
  box-shadow: 1px 1px 2px whitesmoke !important;
  border: none !important;
  color: whitesmoke !important;
  padding: 1% !important;
  margin: 5% !important;
  width: 30% !important;
}

.button-sendform:hover {
  background-color: transparent !important;
  text-shadow: none !important;
}

.contenedor-modal {
  padding-top: 5%;
  background: rgba(0, 0, 0, 0.603);
  text-transform: uppercase;
}

.modal-header {
  text-shadow: 1px 1px rgba(255, 217, 0, 0.445);
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.445);
  background-color: rgba(0, 0, 0, 0.082);
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.082);
  font-weight: bold;
}

.modal-footer {
  background-color: rgba(0, 0, 0, 0.082);
  border: none;
}

.modal-footer button {
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 1px 1px 4px black;
  width: 30%;
  border: none;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 217, 0, 0.377) !important;
  background-color: transparent !important;
}

.modal-footer button:hover {
  text-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.829) !important;
}

/* SIGN */

.gender-sign {
  text-transform: uppercase;
  margin: 1%;
  background-color: rgba(245, 245, 245, 0.034);
  box-shadow: 1px 1px 2px whitesmoke;
}

.input-sign label {
  text-transform: uppercase;
  color: grey;
}

.input-sign input {
  border: none;
  box-shadow: 1px 1px whitesmoke;
  background-color: rgba(245, 245, 245, 0.034);
}

.googleLogin {
  color: whitesmoke !important;
  text-transform: uppercase !important;
  border: solid goldenrod !important;
  background: linear-gradient(to bottom, #d2aa44 5%, #c79a30 100%) !important;
}

.registrate {
  color: whitesmoke;
  text-shadow: 1px 1px gold;
}

.fondo-menu-sign {
  background-color: black;
}

.sign-logo {
  width: 15rem;
  height: 15rem;
}

.signin-container {
  background-image: linear-gradient(to bottom, #181818, #0c0c0c);
}

.sign-here {
  color: #e9ca66;
  font-size: 18px;
  transition: 0.1s;
}

.sign-here:hover {
  color: #7e671a;
  transition: 0.1s;
}

.sign-verify-message {
  height: 40rem;
}
.text-shadow-slipper {
  text-shadow: 2px 2px 5px black !important;
}

.sign-button {
  transition: 0.1s;
  box-shadow: inset 0px 34px 0px -15px #d1b46b;
  background: linear-gradient(to bottom, #d2aa44 5%, #c79a30 100%);
  background-color: #d2aa44;
  border: 1px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
  width: 220px;
}
.sign-button:hover {
  transition: 0.1s;
  background: linear-gradient(to bottom, #d4a327 5%, #c79216 100%);
  box-shadow: inset 0px 34px 0px -15px #d1a841;
  text-shadow: 0px 1px 0px #7a2a1d;
}
.sign-button:active {
  position: relative;
  top: 1px;
}
.form-check-input:checked {
  background-color: #b4831a;
  border-color: #b4831a;
}

.sign-in-portrait {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #00000091;
}

.sign-here-link {
  text-decoration: none !important;
}
.user-icon {
  width: 3rem;
  border-radius: 20px;
}

.dropdown-toggle {
  background-color: #ba090900 !important;
  border-color: #ba090900;
}
.btn-primary {
  color: #b4831a;
}
.btn-primary:hover {
  color: #000000;
  border-color: #ba090900;
}
.btn-primary:focus {
  color: #000000;
  border-color: #ba090900;
}
.btn-primary:active:focus {
  color: #000000;
  border-color: #ba090900;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  border-color: #ba090900;
  box-shadow: 0 0 0 0.25rem #ba090900;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #ba090900;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  border-color: #ba090900;
}

@media (max-width: 767px) {
  .sign-in-portrait {
    display: none !important;
  }
  .signin-container {
    background-color: blue !important;
  }
}

@media (max-width: 920px) {
  .sign-radio-container {
    flex-direction: column;
  }
  .sign-input-imageurl {
    width: 100% !important;
  }
  .signup-radio-container {
    display: flex !important;
    justify-content: space-around !important;
  }
}

/* DROPDOWN USER */

.contenedor-dropdown {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 10%;
  margin-top: -8px;
  margin-bottom: -8px;
}

.contenedor-dropdown .dropdown-item {
  color: gold;
}

.contenedor-dropdown .dropdown-item:hover {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  text-shadow: 2px 2px 4px gold;
}

/* CAROUSEL MARCAS */

.contenedor-carouselMarcas {
  padding: 0 1% 0 1%;
  width: 100%;
}

.contenedor-marcasSociales {
  border-top: double black;
}

  
 
  .admin-upload-shoe-img{
      height: 20rem;
      background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .admin-interaction-icon:hover{
    filter: invert(23%) sepia(26%) saturate(459%) hue-rotate(191deg) brightness(96%) contrast(91%);
    cursor: pointer;
  }

  .admin-category-subcontainer{
      transition: .2s;
    background: rgb(189,146,38);
background: radial-gradient(circle, rgba(189,146,38,1) 0%, rgba(200,178,123,1) 43%, rgba(172,150,92,1) 100%);
border-radius: 10px;
  }
  .admin-category-subcontainer:hover{
      transition: .2s;
    background: rgb(145, 105, 6);
    background: radial-gradient(circle, rgb(167, 123, 14) 0%, rgb(163, 141, 84) 43%, rgba(172,150,92,1) 100%);
  }
  .admin-subcategory-container{
      transition: .2s;
    background-color: #be952d;
  }
  .admin-subcategory-container:hover{
      transition: .2s;
    background-color: #a87d0f;
  }
  .admin-uploadshoe-container{
    background: linear-gradient(to bottom, #2e2e2e 5%, #000000 100%);
  }
  .admin-whites-interaction-icon{
      transition: .1s;
    width: 1rem;
    filter: invert(1123%) sepia(26%) saturate(459%) hue-rotate(191deg) brightness(96%) contrast(91%);
    cursor: pointer;
  }
  .admin-whites-interaction-icon:hover{
      transition: .1s;
    filter: invert(3%) sepia(26%) saturate(459%) hue-rotate(191deg) brightness(96%) contrast(91%);
  }
  .admin-black-interaction-icon{
    transition: .1s;
  width: 1rem;
  filter: invert(23%) sepia(26%) saturate(459%) hue-rotate(191deg) brightness(96%) contrast(91%);
  cursor: pointer;
}
.admin-black-interaction-icon:hover{
    transition: .1s;
  filter: invert(1%) sepia(26%) saturate(459%) hue-rotate(191deg) brightness(96%) contrast(91%);
}
  .admin-shoe-side-navtab .nav-item{
    padding-bottom: 2px;
  }

  .admin-shoe-side-navtab .nav-item a{
      transition: .2s;
      
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,0a0809+100;Black+Gloss */
background: rgb(0, 0, 0); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(64, 70, 71) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(71, 77, 78) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(81, 87, 88) 0%,rgb(9, 10, 10) 50%,rgb(14, 13, 10) 51%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */



.admin-shoe-side-navtab .nav-item a {
  transition: 0.2s;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,0a0809+100;Black+Gloss */
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgb(64, 70, 71) 0%,
    rgba(110, 119, 116, 1) 50%,
    rgba(10, 14, 10, 1) 51%,
    rgba(10, 8, 9, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgb(71, 77, 78) 0%,
    rgba(110, 119, 116, 1) 50%,
    rgba(10, 14, 10, 1) 51%,
    rgba(10, 8, 9, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(81, 87, 88) 0%,
    rgb(9, 10, 10) 50%,
    rgb(14, 13, 10) 51%,
    rgb(0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

.admin-shoe-side-navtab .nav-item a:hover {
  transition: 0.2s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
  background: rgb(252, 234, 187); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  color: black !important;
  font-weight: bold;
}
.admin-shoe-side-navtab .nav-item a:active {
  transition: 0.2s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
  background: rgb(252, 234, 187); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  color: black !important;
  font-weight: bold;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: rgb(252, 234, 187); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 234, 187, 1) 0%,
    rgba(252, 205, 77, 1) 50%,
    rgba(248, 181, 0, 1) 51%,
    rgba(251, 223, 147, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  color: black !important;
  font-weight: bold;
}

.admin-shoes-save-button:hover {
  transition: 0.1s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
  background: rgb(109, 179, 242); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
}

.admin-shoes-save-button {
  transition: 0.1s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
  background: rgb(122, 188, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    rgba(64, 150, 238, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    #4096ee 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(122, 188, 255, 1) 0%,
    rgba(96, 171, 248, 1) 44%,
    rgba(64, 150, 238, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
  animation: shadowGlow infinite 2s;
}

@keyframes shadowGlow {
  0% {
    box-shadow: 2px 2px 8px #4096ee;
  }
  50% {
    box-shadow: 2px 2px 1px black;
  }
  100% {
    box-shadow: 2px 2px 8px #4096ee;
  }
}

.admin-shoe-side-navtab .nav-item a:hover {
  background-color: #e2b544;
}
.admin-modal-image {
  width: 8rem;
  height: 5.5rem;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-variaton-color-box {
  width: 4rem;
  height: 4rem;
}
.admin-variaton-shoe-container{
    border-radius: 8px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  5px 5px 10px #afafaf,
             -5px -5px 10px #ffffff;
             margin-bottom: 5%;
}
.admin-singleshoe-identifier{
    background: linear-gradient(145deg, #2c2c2c, #444444);
}
.admin-single-shoe-card{
    border-radius: 8px;
background: linear-gradient(145deg, #f1f1f1, #ebebeb);
box-shadow:  5px 5px 10px #acacac;
             padding: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #000000;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  .nav-tabs .nav-link {
    color: black;
  }

.admin-variaton-color-box{
    transition: .2s;
    border: 1px solid rgb(131, 131, 131);
}

.admin-variaton-color-box:hover{
    transition: .2s;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
    cursor: default;

}

.admin-variation-shoe-image{
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.contenedor-marcasSociales img {
  object-fit: contain;
  padding: 0px 15px 0px 15px;
  width: 100px;
  height: 150px;
}

.pedidos-exclusivos {
  padding: 2% 0 1% 0;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.952);
  margin: 0 25% 0 25%;
  border-top: solid 6px rgb(255, 224, 51);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.pedidos-exclusivos p {
  font-family: monospace;
  font-size: 18px;
  text-shadow: 1px 1px rgba(255, 217, 0, 0.377);
  padding: 3% 3% 0 3%;
}

@media (min-width: 250px) and (max-width: 850px) {
  .pedidos-exclusivos {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    margin: 0;
  }
  .pedidos-exclusivos p {
    font-size: 15px;
    padding: 5%;
  }
}

/* ADMIN */

.admin-panel-dashboard-welcome {
  min-height: 70vh;
}
.card-admin-items {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15rem;
}
.admin-edit-icon {
  transition: 0.5s;
  width: 1rem;
  cursor: pointer;
}
.admin-edit-icon:hover {
  transition: 0.2s;
  filter: invert(26%) sepia(55%) saturate(1670%) hue-rotate(329deg)
    brightness(105%) contrast(105%);
}
.admin-shoes-card-footer {
  background-color: #2e2e2e;
}
.admin-delete-shoe-button {
  background-color: #c3993f;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.admin-delete-shoe-button:hover {
  background-color: #aa8025;
}

.admin-newcategory-container {
  background-color: #0e0e0e;
}
.admin-interaction-icon {
  width: 1.2rem;
}
.admin-interaction-icon:hover {
  filter: invert(23%) sepia(26%) saturate(459%) hue-rotate(191deg)
    brightness(96%) contrast(91%);
  cursor: pointer;
}
.admin-category-container {
  background: linear-gradient(to bottom, #2e2e2e 5%, #000000 100%);
}

.admin-subcategory-container {
  transition: 0.2s;
  background-color: #be952d;
}
.admin-subcategory-container:hover {
  transition: 0.2s;
  background-color: #a87d0f;
}
.admin-uploadshoe-container {
  background: linear-gradient(to bottom, #2e2e2e 5%, #000000 100%);
}
.admin-input-category {
  padding: 6px;
  border-radius: 10px !important;
  width: 90% !important ;
}
.admin-subcategory-input {
  border-radius: 10px;
  padding: 2px;
  width: 90%;
}

/* select styles */

.select-shoes {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: rgb(141, 89, 12);
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
.select-shoes::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-shoes {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 2px 2px 4px #d49d04d7;
  margin: 5px;
}
/* Arrow */
.select-shoes::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: blanchedalmond;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select-shoes:hover::after {
  color: #d49d04d7;
}

/* Other styles*/

h1 {
  margin: 0 0 0.25em;
}

/* Imagen ShoeDetails Styles */

.zoom {
  transition: 0.2s;
}
.zoom:hover {
  transform: scale(1.5);
}

.zoom {
  box-shadow: 5px 5px 8px #d49d04d7;
}

/* MAIN SHOPP */

.shoe-name {
  color: rgba(0, 0, 0, 0.952);
  text-shadow: 1px 1px 2px orangered;
}

.shoe-price {
  font-size: 25px;
}

.contenedor-range {
  padding: 1% 20% 1% 20%;
  background-color: rgba(0, 0, 0, 0.959);
}

.range-maxPrice {
  text-transform: uppercase;
  color: rgba(245, 245, 245, 0.699);
  font-size: 20px;
  text-align: center;
}

.boton-carritoShop {
  border: none;
  background-color: transparent;
}

/* CHECKOUT */

.contenedor-mainCheck {
  height: 100%;
  width: 100%;
  background-image: url(../public/assets/intento.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.fondo-contenedorCheck {
  padding: 2%;
  margin: 5px;
  width: 70%;
  background: rgba(245, 245, 245, 0.356);
}

.contenedor-mainCheck h1 {
  padding: 5% 0 1% 0;
  color: black;
  text-shadow: 1px 1px 2px orangered;
}

.contenedor-check {
  display: flex;
  justify-content: space-between;
}

.contenedor-check .item-check {
  width: 100%;
}

.contenedor-check .item-check h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3%;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.384);
}

.contenedor-check .item-check h3 {
  color: black;
  font-size: 20px;
}

.contenedor-check .item-check h4 {
  color: black;
}

.contenedor-ppCheck {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contenedor-returnCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-returnCheck img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.contenedor-returnCheck #button {
  align-items: center;
  padding: 0 1% 1% 1%;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 235, 205, 0.603);
}

.final {
  display: flex;
  align-items: center;
  width: 25%;
  text-align: center;
}

.contenedor-compra h2 {
  color: black;
  padding: 2%;
}

.contenedor-mainCheck button {
  margin: 0 0 5% 2%;
  padding: 5%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
  font-size: 18px;
}

.contenedor-noItems h2 {
  color: black;
}

.link-backShop {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  color: black;
  padding: 1%;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 1px 1px 2px black;
  font-weight: bold;
  background-color: rgba(255, 235, 205, 0.438);
}

.link-backShop:hover {
  color: black;
}

/* Carrito */

.cart-button {
  background-color: transparent !important;
  border-color: transparent !important;
}
.cart-button:hover {
  background-color: #7a2a1d;
}

.header-cart {
  padding: 0 0.5rem;
}
.image-cart {
  width: 20%;
  height: auto;
  margin-right: 1rem;
}
.product-cart {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: inherit;
}
.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.product-quantity {
  margin: 0;
  padding-left: 3px;
}

.delete-button {
  border-radius: 10px;
  background-color: #7a2a1d;
  color: #a87d0f;
  width: 40px;
  height: 40px;
  height: auto;
}
.delete-button:hover {
  color: #7a2a1d;
  background-color: #a87d0f;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;
  border-color: transparent black transparent;
  width: 15vw;
  height: fit-content;
}
.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;
  border-color: transparent transparent black;
}

.shop-body {
  display: flex;
  flex-direction: row;
}
.css-187mznn-MuiSlider-root {
  color: #a87d0f !important;
}
