@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
$font: "Lato", sans-serif;

$white: #f5f5f5de;
$light: #d49d04d7;
$tan: #b18c28;
$pink: #070706;
$rose: #856304cc;
$dark: #0a0909;

.shoe-body {
  display: flex;
  background: $light;
  font-family: $font, sans-serif;
  text-transform: uppercase;
  height: 850px;
}

.shoe-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 80%;
  height: 90%;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 10px;
}

.desc {
  font-size: 0.6em;
  color: $rose;
  letter-spacing: 1px;
}

.titulo-shoeProduct {
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
}

.titulo-shoePrice {
  color: $tan;
  margin-top: -5px;
}

.zoom {
  width: 28%;
  margin-left: 100px;
  margin-top: 30px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one,
.two,
.three,
.four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $light;
  margin-top: 100px;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.add,
.like,
.paypal {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $rose;
    transition: all 0.4s ease-in-out;
  }
}

.add {
  background-color: blanchedalmond;
  width: 67%;
  color: rgb(141, 89, 12);
  box-shadow: 2px 2px 4px #d49d04d7;
}

.like {
  background-color: blanchedalmond;
  width: 22%;
  color: rgb(141, 89, 12);
  box-shadow: 2px 2px 4px #d49d04d7;
}

.paypal {
  background-color: blanchedalmond;
  width: 67%;
  color: rgb(141, 89, 12);
  box-shadow: 2px 2px 4px #d49d04d7;
}

.sizes {
  display: grid;
  color: $pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}

.pick {
  margin-top: 200px;
  margin-bottom: 0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid $light;
  font-size: 0.7em;
  text-align: center;
  &:hover {
    background: $rose;
    color: $white;
    transition: all 0.4s ease-in-out;
  }
}

.focus {
  background: $rose;
  color: $white;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  p {
    letter-spacing: 3px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: #7d7d7d;
    }
  }
}
